@charset "ISO-8859-1";
.risultatiNews{
	position: absolute;
	top: 20%;
	left: 5%;
	right: 5%;
	bottom: 10%;
}

body {
	margin:0;
	background-image: url(../img/background.jpg);
	background-repeat: none;
	background-size: cover;
}