@charset "ISO-8859-1";
.risultatiNews{
	position: absolute;
	top: 20%;
	left: 5%;
	right: 5%;
	bottom: 10%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}