body {
    margin: 0;
   
}

.login-div{
    position: absolute;
    top: 20%;
    left: 30%;
    bottom: 20%;
    right: 30%;
    background-color: aliceblue;
}

.searchPage{
    position: absolute;
    top: 5%;
    left: 5%;
    bottom: 30%;
    right: 10%;
   
}